.star {
    display: inline-block;
}

.star svg {
    margin: 0.5px 2.5px;
}

.filled svg{
    fill: var(--primary);
}

.editable {
    cursor: pointer;
}

.ratingWrapper {
    position: relative;
}
.error svg{
    stroke: var(--red);
}

.errorMessage {
    position: absolute;
    bottom: -15px;
    left: -75px;
    color: var(--red)
}